@import '../../../style/varibles.less';
// @import '~@/style/varibles.less';
.header {
  width: 100%;
  line-height: @titleHeight;
  height: @titleHeight;
  background: @bgColor;
  display: flex;
  color: #fff;

  .header-left {
    padding: 0 .2rem;

    .icon-back {
      font-size: .35rem;
    }
  }

  .header-right {
    display: block;
    padding: 0 .1rem 0 .2rem;
    margin-top: -.08rem;
    a {
      color: #fff;
    }
    .icon-choose {
      font-size: .5rem;
      margin-left: -.15rem;
    }
  }

  .header-input {
    text-indent: .2rem;
    line-height: .64rem;
    height: .64rem;
    flex: 1;
    background: #fff;
    color: #cccccc;
    border-radius: .1rem;
    margin-top: .12rem;
  }
}